@using System.Security.Claims
@model IEnumerable<DisCourse.Models.Course>

@{
    ViewData["Title"] = "Danh sách Course";
}
@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier); // Lấy ID của user đang đăng nhập
}

<h2>Danh sách Course</h2>
<a asp-action="Create" class="btn btn-primary">Tạo mới</a>

<table class="table">
    <thead>
        <tr>
            <th>Tên Course</th>
            <th>Mô tả</th>
            <th>Thời gian tạo</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-info">Xem</a>
                    @* if (currentUserId == course.OwnerID) *@
                    @* { *@
                    @*     <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning">Sửa</a>  *@
                    @*     <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">Xóa</a> *@
                    @* } *@

                </td>
            </tr>
        }
    </tbody>
</table>
